<section class="lastfm">
  <h1><a href="http://last.fm/user/Crassworm">I listen to music</a>.</h1>
  <style type="text/css">
    #lastfmList li{ text-align: left; }
  </style>
  <ul id="lastfmList">
    <li class="loading">Updating tracks...</li>
  </ul>
  <script type="text/javascript">
$.domReady(function(){
  getLastfmFeed("{{site.lastfm_user}}", {{ site.lastfm_count }}, "{{ site.lastfm_apikey }}");
});
function getLastfmFeed(user,count,api_key) {
  count = parseInt(count, 10);
  $.ajax({
      url: "http://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=" + user + "&limit=" + count + "&api_key=" + api_key
    , type: 'xml'
    , error: function (err) { $('#lastfmList li.loading').addClass('error').text("Last.fm's busted"); }
    , success: function(data) { showLastfmFeed(data); }
  });
}

// Takes an ISO time and returns a string representing how
// long ago the date represents.
function prettyDate(time){
  diff = ((new Date()).getTime()/1000 - time),
  day_diff = Math.floor(diff / 86400);

  if ( isNaN(day_diff) || day_diff < 0 || day_diff >= 31 )
  return;

  return day_diff == 0 && (
      diff < 60 && "just now" ||
      diff < 120 && "1 minute" ||
      diff < 3600 && Math.floor( diff / 60 ) + " minutes" ||
      diff < 7200 && "1 hour" ||
      diff < 86400 && Math.floor( diff / 3600 ) + " hours") ||
      day_diff == 1 && "Yesterday" ||
      day_diff < 7 && day_diff + " days" ||
      day_diff < 31 && Math.ceil( day_diff / 7 ) + " weeks";
}

function showLastfmFeed(xml){
  var tracklist = document.getElementById('lastfmList'),
      content = '',
      i=0;

  $(xml.responseXML).find("recenttracks").children().each(function(){
    var artist = $(this).find('artist').text(),
        name = $(this).find('name').text(),
        date = $(this).find('date').attr("uts"),
        url = $(this).find('url').text();
    content += '<li id="lastfmItem_'+i+'"><a href="'+ url + '">' + name +'</a> by '+ artist + '<span class="date"> ' + prettyDate(date) + ' ago</span></li>';
    i+=1;
  });

  tracklist.innerHTML = content;
}
  </script>
</section>
