{% if site.twitter_user %}
<section>
  <h1><a href="http://twitter.com/{{site.twitter_user}}">I tweet</a>.</h1>
  <a class="twitter-timeline" href="https://twitter.com/JordanALewis" data-widget-id="428578347942019073">Tweets by @JordanALewis</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</section>
{% endif %}
