// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

$main-bg: #fff;
$page-bg: #fff;
$header-bg: #fff; // this is the center top bar
$nav-bg: #fff; // this is the home/about me /archives bar
$nav-bg-front: #fff;
$nav-bg-back: #fff;
$title-color: #666;
$subtitle-color: #f0f;
$text-color: #000;

$noise-bg: none;


$link-color: #084B8A;
$link-color-hover: $link-color;
$link-decoration: none;
$link-decoration-hover: none;
$link-background-color-hover: #eee;
$link-color-visited: adjust-color($link-color, $hue: 80, $lightness: -6) !default;
$link-color-active: $link-color-hover;

$nav-color: $link-color;
$nav-color-hover: $link-color-hover;
//$nav-placeholder: desaturate(darken($nav-bg, 10), 15);
//$nav-border: darken($nav-bg, 10);
$nav-border-bottom: darken($nav-bg, 25);
$nav-border-top: $nav-border-bottom;
$nav-border-left: $nav-border-bottom;
$nav-border-right: #fff;

//$subtitle-color: lighten($header-bg, 58);
//$nav-bg: desaturate(lighten(#8fc17a, 18), 5);
//$nav-bg-front: image-url('noise.png');
//$nav-bg-back: linear-gradient(lighten($nav-bg, 8), $nav-bg, darken($nav-bg, 11));


///* Sidebar colors */
$sidebar-bg: #fff;
$sidebar-color: $text-color;
$sidebar-link-color-desaturated: none;
//$sidebar-link-color: $link-color !default;
//$sidebar-link-color-hover: $link-color-hover !default;
//$sidebar-link-color-active: $link-color-active !default;
//$sidebar-color: change-color(mix($text-color, $sidebar-bg, 80), $hue: hue($sidebar-bg), $saturation: saturation($sidebar-bg)/2) !default;
//$sidebar-border: desaturate(darken($sidebar-bg, 7), 10) !default;
//$sidebar-border-hover: darken($sidebar-bg, 7) !default;
//$sidebar-link-color-subdued: lighten($sidebar-color, 20) !default;
//$sidebar-link-color-subdued-hover: $sidebar-link-color-hover !default;
//$twitter-status-link: lighten($sidebar-link-color-subdued, 15) !default;

$footer-bg: #fff;
$footer-bg-front: none;
$footer-bg-back: none;


/* To use the light Solarized highlighting theme uncomment the following line */
$solarized: light;

/* If you want to tweak the Solarized colors you can do that here */
//$base03:          #002b36; //darkest blue
//$base02:          #073642; //dark blue
//$base01:          #586e75; //darkest gray
//$base00:          #657b83; //dark gray
//$base0:           #839496; //medium gray
//$base1:           #93a1a1; //medium light gray
//$base2:           #eee8d5; //cream
//$base3:           #fdf6e3; //white
//$solar-yellow:    #b58900;
//$solar-orange:    #cb4b16;
//$solar-red:       #dc322f;
//$solar-magenta:   #d33682;
//$solar-violet:    #6c71c4;
//$solar-blue:      #268bd2;
//$solar-cyan:      #2aa198;
//$solar-green:     #859900;


/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: darken($base02, 5);
//$pre-color: $base1;
